<div class="container">
  <h1>Manufacturing Dashboard</h1>

  <div class="row">
    <div class="col-md-24">
      <h6>One Month Trend</h6>
      <p-chart
        type="line"
        [data]="CombinedTrendData"
        [options]="lineChartOptions"
        height="10em"
      ></p-chart>
    </div>
  </div>

  <!-- 上半部的三個圓餅圖 -->

  <div class="row">
    <div class="col-md-2">
      <p-chart type="doughnut" [data]="deliveryData" height="8em"></p-chart>
      <h6>Delivery (%)</h6>
    </div>

    <div class="col-md-2">
      <p-chart type="doughnut" [data]="qualityData" height="8em"></p-chart>
      <h6>Quality (%)</h6>
    </div>

    <div class="col-md-2">
      <p-chart type="doughnut" [data]="efficiencyData" height="8em"></p-chart>
      <h6>Efficiency (%)</h6>
    </div>
  </div>

  <div class="row">
    <div class="col-md-2">
      <p-chart
        type="bar"
        [data]="deliveryBarChartData"
        [options]="lineChartOptions"
      ></p-chart>
      <h6>Delivery Distribution</h6>
    </div>

    <div class="col-md-2">
      <p-chart
        type="bar"
        [data]="qualityBarChartData"
        [options]="lineChartOptions"
      ></p-chart>
      <h6>Quality Distribution</h6>
    </div>

    <div class="col-md-2">
      <p-chart
        type="bar"
        [data]="efficiencyBarChartData"
        [options]="lineChartOptions"
      ></p-chart>
      <h6>Efficiency Distribution</h6>
    </div>
  </div>

  <div class="row">
    <!-- 左下的不及格資料表格 -->
    <div class="col-md-6">
      <h2>不及格資料</h2>
      <table class="table table-striped">
        <thead>
          <tr>
            <th>日期</th>
            <th>不及格數量</th>
            <th>總數量</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of failedData">
            <td>{{ item.date }}</td>
            <td>{{ item.failed_qty }}</td>
            <td>{{ item.total_qty }}</td>
          </tr>
        </tbody>
      </table>
    </div>

    <!-- 右下方的三個折線圖 -->
    <!--  <div class="col-md-6">
      <div class="row">
        <div class="col-md-12">
          <h2>1個月內的交付率</h2>
          <p-chart
            type="line"
            [data]="deliveryTrendData"
            [options]="lineChartOptions"
          ></p-chart>
        </div> -->
    <!--  <div class="col-md-12">
          <h2>1個月內的質量率</h2>
          <p-chart
            type="line"
            [data]="qualityTrendData"
            [options]="lineChartOptions"
          ></p-chart>
        </div>
        <div class="col-md-12">
          <h2>1個月內的效率</h2>
          <p-chart
            type="line"
            [data]="efficiencyTrendData"
            [options]="lineChartOptions"
          ></p-chart>
        </div> -->
  </div>
</div>
<div class="row"></div>
<script
  src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"
  integrity="sha512-v2CJ7UaYy4JwqLDIrZUI/4hqeoQieOmAZNXBeQyjo21dadnwR+8ZaIJVT8EE2iyI61OV8e6M8PP2/4hpQINQ/g=="
  crossorigin="anonymous"
  referrerpolicy="no-referrer"
></script>
